*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
   background: #1c1a1a;
  
  /* background-image: url(ressources/citynight.jpg); */
  font-family: roboto, sans-serif;
  color: #333;
}

/* NAVIGATION  */
nav{
  position: absolute;
  width: 100%;
  /* padding: permet de définir les différents écarts de remplissage 
  sur les quatre côtés  */
  padding: 30px;
  display: flex;
  justify-content: center;
  z-index: 10; /*permet de dire que nav est au dessus de Home  */
}
nav a{
  margin: 0 10px;
  color: rgb(250, 242, 242);
  font-size: 20px;
  text-decoration: none;/*pour enlever le soulignement*/
  text-transform: uppercase;
  position: relative;
}
nav a::after{
  content: "";
  position: absolute;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 1px;
  background: rgb(113, 102, 102);
}

/* hover et after : veiut dire quon je passe sur le lien alors l'element davant devient... */
nav a:hover::after{
  background: rgb(249, 247, 247);
  z-index: 0;
}

.home{
  height: 100vh;
  background: url(ressources/citynight.jpg);
  /* background-size: permet de couvrir tous l'espace qu'on lui donne  */
  background-size: cover;
  background-position: center;/*focaliser le centre de l'image, quand la page ce retrici */
  padding: 0 50px;
  position: relative;
}
.home h1{
  font-family: MontSerrat,sans-serif;
  padding-top: 200px;
  text-transform: uppercase;
  color: #f1f1f1;
  font-weight: 900;
  /*clamp(min, milieu, max ): permet faire du responsive */
  font-size: clamp(25px, 7vw/*7% largeur d'ecran */, 110px);
}
.title{
  color: #f1f1f1;
  font-size: clamp(25px,7vw,110px);
  text-transform: uppercase;
  font-size: 900;
  letter-spacing: -1px;/*permet de rapprocher les letrre */

}
.stream{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 225px;
  font-weight: 600;
  text-transform: uppercase;
  background: #f1f1f1;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 12px;
  border-radius: 3px;
  margin-top: 15px;
  color: #333;
}
.stream img{
  width: 30px;
}
.stream:hover{

  box-shadow: 0 5px 15px rgb(44, 158, 55,0.2);
}

img{
  width: 50px;

}
.floating-btn{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: #f1f1f1 2px solid ;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 #c72b2b;
  animation: pulse 1.3s infinite;
}
.floating-btn img{
  width: 30px;
}
@keyframes pulse {
  to{
    box-shadow: 0 0 0 15px rgba(23, 143, 49, 0.01);
  }
  
}